.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f9f9f9;
    -fx-text-fill: #000000;
}

.label, .text-field, .button {
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button {
    -fx-background-color: #4caf50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: #ffffff;
}

.table-view .column-header-background {
    -fx-background-color: #eeeeee;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: #000000;
}